

<article class="bourbonPost">

  <div class="flex2">
      <div class="title card" style="width: ;18rem">
        <div class="meta">
          <h3 class="card- title text-light">Name: {{name}}</h3>
          <p class="card-text text-light">Ingredients: {{ingredients}}</p>
          <p class="card-text text-light">Garnish: {{garnish}}</p>
        </div>
      </div>
      
  </div>
</article>



