   <header>
       <div class="jumbotron">
           <h1>
              <p class="blog-title text-info">Tipsy Tech</p>
            </h1>
              <p class="lead">Pick a drink or add one</p>
      </div>
   </header>