<a href="/dashboard"> &larr; Back to dashboard</a>

<nav>
    <button type="submit"><a href="/dashboard/createpost" class="create-btn">Add New Drink</a></button>
</nav>


<link href="https://fonts.googleapis.com/css?family=Poppins:600" rel="stylesheet">