* {
  box-sizing: border-box;
  background-color: #001e59;
}

.header {
  width: 100%;
  background-color: #001e59;
  border: 0, auto;
}

header h1 {
  font-size: 1em;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

h1 {
  color: #fff;
  margin-left: 20px;
}

a:hover {
  color: #a259ff;
}

button {
  background-color: #06be77;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 10px;
}

/* L O G I N   F O R M  */
h2 {
  color: #fff;
}
.login-form label {
  color: #fff;
}

.login-form input {
  background-color: #a259ff;
  border: none;
  border-radius: 20px;
  color: #001e59;
}
.login-form button:hover {
  background-color: #fff;
  color: #06be77;
}

/* S I G N U P  F O R M */
.signup-form label {
  color: #fff;
}

.signup-form input {
  background-color: #a259ff;
  border: none;
  border-radius: 20px;
  color: #;
}

.signup-form button:hover {
  background-color: #fff;
  color: #06be77;
}

textarea,
input {
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}
/*
.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
} */

/* header {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: blue;
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: blue;
} */

footer h2 {
  color: var(--secondary-color);
  font-size: 35px;
  text-align: center;
}

footer div {
  line-height: 1.5;
  text-align: right;
  margin-right: 70px;
}

footer a {
  color: var(--secondary-color);
}

header {
  display: flex;
  background-color: #fff;
  height: 95px;
  min-height: 95px;
  width: 100%;
  color: aqua;
  border: blue 4px solid;
}

header h1 {
  width: 125%;
  background-color: blue;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
}

#headernav {
  width: 75%;
  display: inline-block;
  align-items: center;
  padding: 1em;
  color: black;
}

@media screen and (max-width: 980px) {
  .parent {
    flex-direction: column;
    margin: 12px;
  }

  header {
    display: flex;
    background-color: darkgray;
    width: 100%;
    color: aqua;
    border: blue 4px solid;
    height: auto;
    text-align: center;
    flex-direction: column;
  }

  footer {
    display: block;
    text-align: center;
    margin: auto;
  }

  #footertitle h2 {
    display: block;
    border-right: none;
    margin: auto;
    color: #fff;
  }

  #footernav nav {
    display: block;
    flex-direction: column;
    text-align: center;
    margin-left: none;
    padding-left: none;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  #footertitle h2 {
    text-align: start;
    padding-left: 10px;
    padding-top: 15px;
  }
  #footernav {
    padding-left: 0;
    margin-left: -20vw;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  #headernav {
    padding-left: 0;
    margin-left: -4vw;
  }

  #footernav {
    padding-left: 0;
    margin-left: -55vw;
  }

  #footertitle h2 {
    text-align: start;
    padding-left: 10px;
    padding-top: 15px;
    color: #fff;
  }

  .subtitle {
    margin-top: 75px;
    margin-left: 5px;
    align-items: center;
  }
}
